
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>List Kloter</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Mali:wght@500&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Mali:wght@500&family=Poppins&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/listkloter.css'%}">
</head>
<body style="margin:0;">
	<h1 style="color: #009DAE;" class="judul-page">Khotmul Qur'an</h1>
	<div class="container-page">
		{% for i in kloter_number2 %}
			<div><a href="/{{i.kloter_number}}"><button style="margin-left: 30px; margin-top: 30px;" type="button" class="btn btn-primary">Kloter {{ i.kloter_number }} ></button></a></div>
		{% endfor %}
	</div>

	<a href="{% url 'kloter:addkloter' %}"><button style="margin-top: 30px; margin-left: 30px;" type="button" class="btn btn-success">Tambah Kloter</button></a>
</body>
</html>